<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waste Into City</title>
</head>
<body>
    <header>Header</header>
    <main>
        <form method="POST" enctype="multipart/form-data">
            <label>Photo</label>
            <input type="file" name="image"/>
            <label>Lat:</label>
            <input type="text" name="coordinates.lat" required/>
            <label>Lng:</label>
            <input type="text" name="coordinates.lng" required/>
            <label>Volume:</label>
            <input type="text" name="volume" required/>
            <label>Fill:</label>
            <input type="text" name="fill"/>
            <label>Type:</label>
            <select name="type" required>
                <option>Common</option>
                <option>Paper</option>
                <option>Plastic</option>
                <option>Recycle</option>
                <option>Chemical</option>
                <option>Glass</option>
                <option>Metals</option>
                <option>Green</option>
                <option>Electronic</option>
            </select>
            <input type="submit" value="Find"/>
        </form>
        <% result.forEach(function (trashcan) { %>
            <a href="trashcan/<%= trashcan._id %>">
                <form method="POST" action="trashcan/<%= trashcan._id %>?_method=delete">
                    <p>Lat:<%= trashcan.coordinates.lat %> Lng:<%= trashcan.coordinates.lng %></p>
                    <p>Fill:<%= trashcan.fill %></p>
                    <p><%= trashcan.type %></p>
                    <input type="submit" value="Delete">
                    <input type="hidden" name="_method" value="DELETE">
                </form>
            </a>
        <% }); %>
    </main>
    <footer>Footer</footer>
</body>
</html>