<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head') %>
    <link rel="stylesheet" href="/styles/trashcan.css">
</head>
<body>
    <%- include('../parts/header', {variant: true}) %>
    <div class="container">
        <form method="POST" action="<%= trashcan._id %>?_method=delete" class="trashcan">
            <img src="/images/<%= trashcan.image%>"/>
            <div class="text-block">
                <p><span>Lat:</span><%= trashcan.coordinates.lat %></p>
                <p><span>Lng:</span><%= trashcan.coordinates.lng %></p>
                <p><span>Type:</span><%= trashcan.type %></p>
                <p><span>Volume:</span><%= trashcan.volume %></p>
                <p><span>Fill:</span><%= trashcan.fill %></p>
                <button type="submit">Delete</button>
            </div>
    </form>
    </div>
    <%- include('../parts/footer') %>
</body>
</html>